nav {
   justify-content: space-between;
   align-items: center;
    display: flex;
    width: 80hv;
    background-image: linear-gradient(gray, white);
    padding-left: 20px;
    padding-right: 20px;
}
nav ul {
    display: flex;
    justify-content: center;

}
nav ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;

}
nav ul li a:hover {
color: blue;
}

.logo{
display: flex;
justify-content: center;
align-items: center;
color: rgb(153, 49, 251);
}
.logo img{
    width: 100px;
}

