.Banner-container{
background-position:center ;
background-repeat: no-repeat;
    background-size: auto;
    border-radius: 30px;
} 

.banner-content{
    text-align: center;
   padding: 100px;
    color: white;
}
.banner-content p{
   padding: 20px;
}
 
.btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(67, 66, 66);
background-image: linear-gradient(yellow, white);
}
.btn:hover{
    color: rgb(102, 44, 156);
    background-image: linear-gradient(rgb(175, 96, 249), rgb(215, 212, 212));
    
}
@media screen and (max-width:576px) {
    /* .Banner-container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
        } */
                /* .banner-img img {
                    width: 300px;
                } */
}