.Banner-container{
   /* background-color: rgba(166, 165, 165, 0.536); */
   background-image: linear-gradient(white,gray);
   padding: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
} 
.banner-img img{
    width: 300px;
    border-radius: 15px;
}
 .banner-content{
    text-align: start;
    /* color: blueviolet; */
}

 
.btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(67, 66, 66);
    background-image: linear-gradient(rgb(175, 96, 249), rgb(215, 212, 212));

}
.btn:hover{
    color: rgb(102, 44, 156);
background-image: linear-gradient(gray, white);
    
}
.card-container{
    border-radius: 10px;
    padding: 10px ;
   background-image: linear-gradient(gray,white);
    margin:-60px 90px;
}
.img-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:0 20px 0 20px;
    text-align: center;
    
}
.img-container img{
border-radius: 10px;
}
@media screen and (max-width:576px) {
    .Banner-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-container{
        display: grid;
    }
}